body {
font-family: 'Montserrat', sans-serif;
background-image: url(../images/pinksky4.jpg);
background-size: cover;
background-repeat: no-repeat;
padding: 10px;
margin: 100px auto;
max-width: 850px;
backdrop-filter: blur(50px);
}
p {
    margin: 15px 0px;
}
h1 {
    margin-top: 20px;
    font-size: 48px;
}

h3 {
    margin-left: 5px;
}
h3:first-letter {
    text-transform: capitalize;
}
ul {
    padding-inline-start: 20px;
    margin-left: 120px;
}
.card {
    border: transparent;
}
.week-weather {
    margin-left: 25px;
}
.col-2 {
    text-align: center;
}
.degree {
    font-size: 20px;
    position: relative;
    top: -50px;
}
.main-img {
    margin: -50px 20px 0px 70px;
}
#temperature { 
    font-size: 90px;
    line-height: 1.5;
    margin-left: 1px;
}
.card {
    background: transparent;
}
.container {
    padding: 0px;
}
.form-search {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(250, 240, 228);
    text-align: center;
}
.weather-forecast {
    margin-bottom: 30px;
}
.link-source {
    margin-left: 25px;
}
.active {
    color: #212529;
    cursor: default;
}
.active:hover {
    text-decoration: none;
}